.schedule {
  position: relative;
}

.button.button--unicorn {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 80px;
  right: 5%;
  background-image: url('./star.png');
  background-position: 50%;
  background-size: 70%;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 50%;
  padding: 0;
}
