.header {
  display: flex;
  height: 70px;
  border-bottom: 1px solid #cdcdcd;
  justify-content: center;
  align-items: center;
}

.header__menu {
  max-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__item {
  text-transform: uppercase;
  margin-right: 20px;
  color: #050505;

  &--active {
    border-bottom: 1px solid #050505;
  }
}
