body {
  font-family: Arial;
  margin: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  box-sizing: border-box;
}

.wrapper {
  max-width: 900px;
  margin: auto;
  padding-top: 30px;
}
