.button {
  outline: none;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.15s;
  border: 2px solid rgba(#050505, 0);
  background: #ff981e;
  color: #fff;
  height: 35px;

  &:hover {
    opacity: 0.8;
  }

  &--delete {
    color: #050505;
    border: 2px solid #050505;
    background: transparent;

    &:hover {
      background: #050505;
      color: #fff;
      opacity: 1;
    }
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
  position: relative;
  border-left: 2px solid #050505;

  &__info {
    display: flex;
  }
}

.info__text {
  margin-right: 10px;
  word-break: break-all;
}

.container {
  &--inline {
    display: flex;
    width: 100%;
  }

  &--column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.form {
  margin-bottom: 30px;

  &__field {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--invalid {
    .field {
      border-color: #870000;
    }
  }

  &__error {
    color: #870000;
    font-size: 11px;
    font-style: italic;
  }
}

.field {
  outline: none;
  border: none;
  background: rgba(#000, 0.05);
  padding: 8px 20px;
  height: 35px;
  color: #888888;
  font-size: 14px;
  width: 98%;

  &--count {
    width: 70px;
  }

  &--textarea {
    min-height: 100px;
    width: 100%;
  }
}
