.button {
  outline: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  background: #26a69a;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &--delete {
    border: 2px solid #870000;
    background: none;
    border-radius: 30px;
    transition: 0.3s;

    &:hover {
      background: #870000;
      color: #fff;
    }
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 15px;
  border-left: 2px solid #26a69a;
  margin-bottom: 20px;

  &__info {
    display: flex;
  }
}

.info__text {
  margin-right: 10px;
  word-break: break-all;
}

.container {
  &--inline {
    display: flex;
  }

  &--column {
    display: flex;
    flex-direction: column;
  }
}

.form {
  margin-bottom: 30px;

  &__field {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.field {
  outline: none;
  box-sizing: border-box;
  background: none;
  border: 2px solid #26a69a;
  padding: 10px 5px;
  font-size: 16px;

  &--count {
    width: 57px;
  }
}
