.school-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 15px;
  border-left: 2px solid #26a69a;
  margin-bottom: 20px;

  &__info {
    display: flex;
  }
}

.info__text {
  margin-right: 10px;
}
